extends layout

block content
	div.container
		h3.text-center#header
		br
		ul.list-group
		each member in members
			li.list-group-item.mx-auto
				div.row
					section.col-12.col-lg-2.my-auto
						img.img-thumbnail(src="#{member.photourl}")
					section.col-12.col-lg-4.my-auto.mx-auto
						h5= member.fname + ' ' + member.lname
						h6= member.role	
					section.col-12.col-lg-2.my-auto.mx-auto
						a.btn.btn-primary(href='/members/#{member._id}') See Full Profile


	script.
		var header = document.getElementById('header')
		var n = #{members.length}

		if (n <= 0) {
			console.log(n)
			header.innerHTML = 'There are currently no members in this group'
		}
		else {
			header.innerHTML = 'Group Members'
		}